body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Goldplay-Regular';
  src: url('./assets/fonts/Goldplay\ Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Goldplay-Bold';
  src: url('./assets/fonts/Goldplay\ Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Goldplay-Medium';
  src: url('./assets/fonts/Goldplay\ Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Goldplay-Semibold';
  src: url('./assets/fonts/Goldplay\ SemiBold.otf') format('opentype');
}
